# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
.config/nvim/autoload/

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__init__.pyo

# Files from doom config

!.dir-locals.el
_minted-config
abbrev.el
config.*
!config.org
init.el
packages.el
cli.el
setup.sh

!publish
!publish/config.html

!.github
