# This is Git's per-user configuration file.
[user]
	name = kmehtab
	email = kmehtab20@gmail.com
	username = kmehtab
	signingkey = 7913FD2F8FE62B56 
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
