# This is Git's per-user configuration file.
[user]
	name = kmehtab
	email = kmehtab20@gmail.com
	username = kmehtab
	signingkey = B396AC6342575F0A
# Please adapt and uncomment the following lines:
#	name = khan mehtab
#	email = kmehtab@khans-iMac.local
[gpg]
	program = gpg
[commit]
	gpgSign = true
[tags]
	gpgsign = true
